<?xml version="1.0" ?>
<settings>
	<time_pause_after_target>500</time_pause_after_target>
	<time_thinking>2000</time_thinking>
	<time_ms_flash>60</time_ms_flash>
	<time_ms_between_flashes>250</time_ms_between_flashes>
	<time_result>1000</time_result>
	<n_repetitions>4</n_repetitions>
	<player2>1</player2>
	<difficulty>5</difficulty>
	<theme>1</theme>
	<player1>1</player1>
	<time_before_result>1000</time_before_result>
	<n_targets>10</n_targets>
	<time_show_target>1000</time_show_target>
	<n_cards>1</n_cards>
	<time_pause_before_target>500</time_pause_before_target>
</settings>
